.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0px 7rem;
    background-color: gray;
    align-items: center;
    height: 4.5rem;
}
.navbar .title{
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}
.nav-items{
    display: flex;
    gap: 0.8rem;
}
.nav-items li{
   list-style: none;
}
.router-link{
    text-decoration: none;
    color: rgb(209, 207, 207);
}
.nav-items li input{
    border-radius: 5px;
    padding: 5px 8px;
    outline: none;
    border: none;
}
.nav-items li button{
    font-size: 0.9rem;
    border-radius: 4px;
    border: none;
    padding: 5px 8px;
    color: white;
    background-color: rgb(87, 97, 106);
    cursor: pointer;
}

.mobile-nav{
    display: none;
    background-color: gray;
    height: 3rem;
    justify-content: space-around;
    align-items: center;
}

.drawer{
    background-color: gray;
    height: 100vh;
    width: 10rem;
}
.drawer li{
    list-style: none;
    padding: 1rem 2rem;
    font-style: revert;
    font-size: 1.2rem;
}
.mobile-input{
    border: none;
    font-size: 1rem;
    padding: 0.3rem;
    outline: none;
    border-radius: 3px;
}
.mobile-title{
    font-size: 1.2rem;
    font-weight: 700;
}

@media screen and (max-width:1024px) {
    .mobile-nav{
        display: flex;
    }
    .navbar{
        display: none;
    }
}